.conteneur {
    margin-top: 100px;
}

.imagee{
    max-width: 1100px;
}

h2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.bt{
    margin-right: 15px;
}

.btnn{
    margin-top:30px;
    display: flex;
    justify-content: flex-end;

}
.circle-icon-select {
    background:#fbbb0c;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 10px;
}
.circle-icon {
    background:grey;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    padding: 5px;
}
.vertical-line2 {
    display: inline-block;
    height: 8px;
    width: 100px;
    border-top: 2px solid;
  }

  .btnPay {
      display: block;
      width: 200px;
      height: 50px;
  }